h1 {
    font: sketch('./source_current.sketch').textStyle.Heading_H1;
}

h2 {
    font: sketch('./source_current.sketch').textStyle.Heading_H2;
}

.headerBar {
    extends: sketch('./source_current.sketch').sharedStyle.HeaderBar;
}

.headerBar2 {
    extends: sketch('./source_current.sketch').sharedStyle.HeaderBar2;
}

.headerBar3 {
    extends: sketch('./source_current.sketch').sharedStyle.HeaderBar3;
}