@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
    background-color: #EFF3F6;
}

h1 {
    font: sketch('./tests.sketch').textStyle.Headline_1;
}

h2 {
    font: sketch('./tests.sketch').textStyle.Headline_2;
}

p {
    font: sketch('./tests.sketch').textStyle.Body;
}

a {
    font: sketch('./tests.sketch').textStyle.Link;
}

.sharedStyle {
    extends: sketch('./tests.sketch').sharedStyle.Complex;
    padding: 1rem;
}

.buttonPrimary {
    extends: sketch('./tests.sketch').sharedStyle.ButtonPrimary;
}

.basicSymbolTest {
    extends: sketch('./tests.sketch').symbol.BasicSymbol;
}

.testBackground {
    extends: sketch('./tests.sketch').symbol.TestBackground;
}

.testLinearBackground {
    extends: sketch('./tests.sketch').symbol.TestLinearBackground;
}

.testRadialBackground {
    extends: sketch('./tests.sketch').symbol.TestRadialBackground;
}

.ui.primary.button {
    extends: sketch('./tests.sketch').symbol.deep.PrimaryButton;
}

.ui.secondary.button {
    extends: sketch('./tests.sketch').symbol.deep.SecondaryButton;
}

.topBar {
    extends: sketch('./tests.sketch').symbol.deep.UITopBar;
}

.menuContainer.ui.menu {
    extends: sketch('./tests.sketch').symbol.deep.UIMenu;
}

.missing {
    /*font: sketch('./tests.sketch').textStyle.MissingStyle;*/
}

.featureEvent {
    background-image: sketch('./tests.sketch').backgroundPNG.FeatureEvent;
    width: 420px;
    height: 290px;
}
