@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.symbolTest {
    extends: sketch('./source_current.sketch').symbol.deep.Card;
}

h1 {
    font: sketch('./tests.sketch').textStyle.Headline_1;
}

h2 {
    font: sketch('./tests.sketch').textStyle.Headline_2;
}

p {
    font: sketch('./tests.sketch').textStyle.Body;
}

a {
    font: sketch('./tests.sketch').textStyle.Link;
}

.missing {
    /*font: sketch('./tests.sketch').textStyle.MissingStyle;*/
}

.sharedStyle {
    extends: sketch('./tests.sketch').sharedStyle.Complex;
    padding: 1rem;
}

.buttonPrimary {
    extends: sketch('./tests.sketch').sharedStyle.ButtonPrimary;
}

.buttonPrimary:hover {
    extends: sketch('./tests.sketch').sharedStyle.ButtonPrimaryHover;
}

.buttonPrimary:active, buttonPrimary.active {
    extends: sketch('./tests.sketch').sharedStyle.ButtonPrimaryActive;
}


.basicSymbolTest {
    extends: sketch('./tests.sketch').symbol.BasicSymbol;
}

.testBackground {
    extends: sketch('./tests.sketch').symbol.TestBackground;
}

.testLinearBackground {
    extends: sketch('./tests.sketch').symbol.TestLinearBackground;
}

.testRadialBackground {
    extends: sketch('./tests.sketch').symbol.TestRadialBackground;
}

/*
.container {
    flex-grow: 1;
}

h1 {
    font: sketch('./source_current.sketch').textStyle.Heading_H1;
}

h2 {
    font: sketch('./source_current.sketch').textStyle.Heading_H2;
}

.headerBar {
    extends: sketch('./source_current.sketch').sharedStyle.HeaderBar;
}

.headerBar2 {
    extends: sketch('./source_current.sketch').sharedStyle.HeaderBar2;
}

.headerBar3 {
    extends: sketch('./source_current.sketch').sharedStyle.HeaderBar3;
}

 */
